@import '../../node_modules/bootstrap/scss/bootstrap';
@import './variable.scss';
.booksSearchContainer {
    background-color: $white;
    padding-top: 20px;
    padding-bottom: 20px;
    .backButton {
      align-items: center;
      margin-bottom: 20px;
      cursor: pointer;
      img {
        margin-right: 10px;
      }
      h2{
        font-size: $h2-font-size;
        color: $primary;
        margin-bottom: 0;
      }
    }

    .inputSection {
      .inputGroup {
        border-radius: 4px;
        &.active {
          border: 1px solid $primary;
        }
        .searchIcon, .closeIcon {
          .input-group-text {
            cursor: pointer;
            background-color: $grey-light;
            border: none;
            color: $input-color;
            font-weight: 400;
            font-size: 16px;
            height: 40px;
          }
        }
        .inputTextArea {
          border: none;
          background-color: $grey-light;
          color: $body-color;
          font-weight: 300;
          font-size: 16px;
          height: 40px;
          @include placeholder {
            font-weight: 400;
            font-size: 16px;
            color: $input-color;
          }
          &:focus {
            border: none;
            box-shadow: none;
          }
        }
        .closeIcon {
          .input-group-text {
            .cancleIcon {
              display: none;
              &.active {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .pageSpinner {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .noContentSection {
    margin-top: 30px;
    padding-top: 30px;
    padding-top: 30px;
    @media (max-width: 576px){
      padding-top: 10px;
      padding-top: 30px;
    }
    .noContentCol {
      display: flex;
      justify-content: center;
      img {
        height: 150px;
      }
      h3 {
        margin-top: 20px;
        color: $input-color;
        font-weight: 400;
        font-size: 20px;
      }
    }

  }