@import '../../node_modules/bootstrap/scss/bootstrap';
.bookCard {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    @media (max-width: 576px){
      padding-left: 0px;
      padding-right: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .cardImage {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 114px;
      min-width: 114px;
      height: 162px;
      min-height: 162px;
      border-radius: 8px;
      box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
      img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
    }
    .cardtext {
      width: 114px;
      .bookTitle {
        font-size: 12px;
        text-transform: uppercase;
        margin: 0;
      }
      .bookAuthor {
        font-size: 12px;
        text-transform: capitalize;
        margin: 0;
        color: $input-color;
      }
    }
  }