$body-bg: #F8F7FF;
$body-color: #333333;
$primary: #5E56E7;
$white: #fff;
$grey-light: #F0F0F6;
$input-color: #A0A0A0;

$jumbotron-bg:  #F8F7FF;
$jumbotron-color:  #5E56E7;

$h1-font-size: 48px;
$h2-font-size: 30px;

$font-weight-bold: 600;
$headings-font-family: 'Montserrat';
$headings-font-weight: 600;

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}