@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
    local('Montserrat'),
    local('Montserrat-Regular'),
    url(./assets//fonts/Montserrat-SemiBold.ttf) format('truetype'),
    url(./assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src:
    local('Montserrat'),
    local('Montserrat-Regular'),
    url(./assets//fonts/Montserrat-Regular.ttf) format('truetype'),
    url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src:
    local('Montserrat SemiBold'),
    local('Montserrat-SemiBold'),
    url(./assets/fonts/Montserrat-SemiBold.ttf) format('truetype'),
    url(./assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
}


body {
  font-family: 'Montserrat', sans-serif;
}

